/* src/components/Navbar.module.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.9rem 5%;
  background-color: #fff; 
  color:#000000;
  
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-weight: 600;
  font-size: 2.3rem;
  color: #f05f40;
 
}
 

.chefIcon {
  height: 60px; 
  width: auto;
  margin-right: 0px; 
}

.mainNav {
  display: flex;
  gap: 2rem;
}

.mainNav a{
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-size: 23px;
  transition: color 0.2s;
  padding: 10px;
}

.mainNav a:hover {
  color: #f05f40;
}
.registerBtn {
  background-color: #fff;
  color: #f05f40 !important; 
  padding: 1rem 2rem !important;
  border-radius: 6px;
  font-size: 20px;
  border: solid #f05f40 1px;
  font-weight: 600 !important;
}
.registerBtn:hover {
  background-color: #f05f40;
  color:#fff !important ;
}

.skipRequestBtn {
    background-color: #fff; 
    color: #f05f40 !important;
    padding: 1rem 2rem !important;
    border-radius: 6px;
    font-weight: 600 !important;
    display: flex;
    align-items: center;
    border: solid #f05f40 1px;
    gap: 0.5rem;
}

.skipRequestBtn:hover {
    background-color: #f05f40;
    color: #fff !important;
}
