/* src/components/Navbar.module.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  background-color: #2d3748;
  color: #fff;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-weight: 600;
  font-size: 1.5rem;
  color: #fff;
}

.mainNav {
  display: flex;
  gap: 2rem;
}

.mainNav a{
  text-decoration: none;
  color: #e2e8f0;
  font-weight: 500;
  transition: color 0.2s;
}

.mainNav a:hover {
  color: #fff;
}
.registerBtn {
  background-color: #fff;
  color: #2d3748 !important; /* Important zaroori hai taaki color override ho */
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-weight: 600 !important;
}
.registerBtn:hover {
    background-color: #e2e8f0;
}